*.js
!jest.config.js
*.d.ts
cdk/node_modules

# CDK asset staging directory
.cdk.staging
cdk/cdk.out
cdk/.aws-sam

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.zip
